h1 {
    margin-bottom: 30px
}

.competencia {
    margin-bottom: 25px;
    padding: 20px;
    background: #1e293b;
    border-radius: 8px;

}

.indicador {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px 0px;
    padding-left: 15px;
    padding-right: 30px;
    background: #334155;
    border-radius: 6px;
    text-align: left;
    
}

#main-content {
   margin-top: 70px;
   margin-left: 120px;
}

